/* --------------- table styles from the Admin interfaces; used also on the user profile page -- */

table.settings,
table.projectTable,
table.rolesTable {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table.settings td,
table.projectTable td,
table.rolesTable td {
    padding: 0.5em;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

td.edit {
    width: 5%;
    text-align: center;
}

table.settings td.noRightBorder,
table.projectTable td.noRightBorder {
    border-right: none;
}

table.settings td.noLeftBorder,
table.projectTable td.noLeftBorder {
    border-left: none;
}

table.settings th {
    border-right: 1px solid #ccc;
}

table.settings td.name,
table.settings th.name {
    width: 30%;
    padding-left: 1em;
    border-right: 1px solid #ccc;
}

table.settings td.value,
table.settings th.value {
    width: 50%;
    padding-left: 1em;
    border-right: 1px solid #ccc;
}

table.settings th.name,
table.settings th.value {
    text-align: left;
    font-weight: bold;
    font-size: 90%;
}

/*-------- end*/
