// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$typography-font-family = system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans,
        Helvetica Neue, Arial, sans-serif;

@import '~quasar-variables-styl'
